pkgbase = niccalc-bin
	pkgdesc = A tool to calculate nicotine amount needed for an e-cigarette liquid
	pkgver = 0.9.3
	pkgrel = 1
	url = https://github.com/geri1701/niccalc
	arch = x86_64
	license = MIT
	provides = niccalc
	options = strip
	source = https://github.com/geri1701/niccalc/releases/download/v0.9.3/niccalc-0.9.3-x86_64.tar.gz
	sha256sums = 77147e659eaa909ba943967b540aab0377fe18f044e39c34d3094a52ae7d5378

pkgname = niccalc-bin

